body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x:hidden;
    overflow-y:hidden
}

body #particles-js {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    color: #ffffff;
    background: linear-gradient(60deg, rgba(128, 82, 189, 0.5) 5%, rgba(56, 243, 159, 0.5))
}

a {
    text-decoration: none;
    color: inherit
}

a:hover {
    text-decoration: underline
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 420px;
    min-height: 200px;
    padding: 10px 40px;
        z-index: 50;
    border: 1px solid rgba(69, 99, 99, 0.1);
    border-radius: 3px;
    background-color: rgba(221, 221, 221, 0.4);
    box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.2) /*Adds shadow*/
}

.container .avatar {
	text-align: center;
}

.avatar img {
	height: 170px;
	width: 170px
}

.container .greetings {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin: 0
}

.container .greetings span {
    color: #699
}

.container .caption {
    font-size: 18px;
    line-height: 1.5em
}

.container ul {
    list-style: none;
    margin: 10px 0;
    padding: 0
}

.container ul li {
    display: inline-block;
    margin-right: 10px;
    opacity: .7
}

.container ul li:hover {
    opacity: 1
}

.preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 999999;
}
.preloader .logo_loader{margin-bottom: 20px;}
.preloader:before, .preloader:after {
	content: '';
	display: block;
	position: absolute;
	width: 130%;
	height: 50%;
	background-color: rgba(23, 23, 23, 1);
	left: -15%;
	-webkit-transition: all 2s ease 0.5s;
	-moz-transition: all 2s ease 0.5s;
	-ms-transition: all 2s ease 0.5s;
	-o-transition: all 2s ease 0.5s;
	transition: all 2s ease 0.5s;
}
.preloader:before {
	top: 0;
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}
.preloader:after {
	bottom: 0;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}
.preloader .inner {
	position: absolute;
	display: inline-block;
	width: 300px;
	padding: 50px 0;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 1052;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.preloader .inner .item {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #583400;
	display: inline-block;
	margin: 10px;
	-webkit-animation: preanim 1.5s linear infinite;
	-moz-animation: preanim 1.5s linear infinite;
	animation: preanim 1.5s linear infinite;
}
.preloader .inner .item2 {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.preloader .inner .item3 {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.preloader .inner .item4 {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.preloader .inner .item5 {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
.preloader.load-anim {
  visibility: hidden;
}
.preloader.load-anim:before {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}
.preloader.load-anim:after {
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
}
.preloader.load-anim .inner {
	opacity: 0;
	visibility: hidden;
}

@-webkit-keyframes preanim {
  40% {
    -webkit-transform: scale(3);
  }
}
@-moz-keyframes preanim {
  40% {
    -moz-transform: scale(3);
  }
}
@keyframes preanim {
  40% {
    transform: scale(3);
  }

@media (max-width:400px) {
    body {
        background: #fff
    }
}
